.container {
  @media screen and (max-width: 768px) {
    padding-top: 34px;
  }
  .title {
    padding: 0 32px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .24em;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .boardButton {
    font-size: 15px;
    width: 100%;
    margin-right: 32px;
    border-radius: 0 32px 32px 0;
    padding: 0 32px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;

    img {
      margin-right: 16px;
      height: 16px;
      width: 16px;
    }
    img.active {
      filter: brightness(0) invert(1);
    } 
  }

  .boardButton:hover img.active {
    filter: none;
  } 

  .createButton {
    font-size: 15px;
    padding: 0 32px;
    height: 48px;
    line-height: 48px;

    img {
      margin-right: 16px;
      height: 16px;
      width: 16px;
    }
  }
}