@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow: hidden;
  font-size: 12px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.leftContainer {
  transform: translateX(-300px);
  width: 0;
  transition: all 200ms ease;
  z-index: 1000;
}

.leftContainer.sidebarOpen {
  transform: translateX(0);
  width: 300px;
}

@media screen and (max-width: 768px) {
  .leftContainer {
    width: 0px;
  }

  .leftContainer.sidebarOpen {
    width: 0;
  }

}
